<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error 404</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="header">
        <img src="logo.png" alt="Invalid Page" style="margin-right:110%;" width="100" height="100">
        <h1>You must have entered an invalid pathname</h1>
        <p>Please go back or use the links below</p>
    </div>

    <div class="content">
        <a href="/">Home</a> &nbsp;
        <a href="newDoctor">Add a New Doctor</a> &nbsp;
        <a href="listDoctor">List all Doctors</a> &nbsp;
        <a href="newPatient">Add a New Patient</a> &nbsp;
        <a href="listPatients">List all Patients</a> &nbsp;
        <a href="updateDoctor">Update Doctor Patients</a> &nbsp;
        <a href="deletePatient">Remove a Patient</a> &nbsp;

    </div>

    <div class="error" style="background-color: aliceblue;">
        <img src="error.png" alt="Page Not found" class="center" width="500" height="500">
    </div>

</body>

</html>