<!DOCTYPE html>
<html lang="en">

<head>
  <title>XYZ Clinic Doctor</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">

</head>

<body style="background-color: aliceblue;">
  <div class="header">
    <img src="logo.png" alt="Invalid Page" style="margin-right:110%;" width="100" height="100">
    <h1>XYZ Clinic</h1>
    <p>Doctor List</p>
  </div>

  <div class="content">
    <a href="/">Home</a> &nbsp;
    <a href="newDoctor">Add a New Doctor</a> &nbsp;
    <a href="listDoctor">List all Doctors</a> &nbsp;
    <a href="newPatient">Add a New Patient</a> &nbsp;
    <a href="listPatients">List all Patients</a> &nbsp;
    <a href="updateDoctor">Update Doctor Patients</a> &nbsp;
    <a href="deletePatient">Remove a Patient</a> &nbsp;
  </div>


  <table id="books">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date Of Birth</th>
      <th>State</th>
      <th>Suburb</th>
      <th>Street</th>
      <th>unit</th>
      <th>Number of Patients</th>
      <th>Doctor ID</th>
    </tr>


    <% for (let i = 0; i < doctorsDbtable.length; i++){%>
    <tr>
      <td><%= doctorsDbtable[i].name.firstName%></td>
      <td><%= doctorsDbtable[i].name.lastName%></td>
      <td><%= doctorsDbtable[i].dateOfBirth%></td>
      <td><%= doctorsDbtable[i].address.state%></td>
      <td><%= doctorsDbtable[i].address.suburb%></td>
      <td><%= doctorsDbtable[i].address.street%></td>
      <td><%= doctorsDbtable[i].address.unit%></td>
      <td><%= doctorsDbtable[i].numOfPatients%></td>
      <td><%= doctorsDbtable[i].id%></td>
    </tr>
    <% } %>
  </table>

</body>

</html>